* {
    margin : 0px;
    padding : 0px;
}
.loginButton {
    display : flex;
    justify-content: flex-end;
    margin : 20px;
    cursor:pointer;
}
.navSection {
    display : flex;
    justify-content: center;
}
.menuList {
    display : flex;
    list-style-type : none;
    
    height: 33px;

}
.menuList li {
    padding : 0px 10px 0px 10px;
    height: 33px;
}
.searchBar {
    position:fixed;
    margin-left : 1700px;
    height : 20px;
    
}
.menuSection{
    height: 33px;
    display : flex;
    justify-content: center;
}
